---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: metrics
spec:
  minReadySeconds: 10
  replicas: 1
  strategy:
    # reduce likelihood of scheduling issues due to high memory usage
    type: Recreate
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      name: metrics
  template:
    metadata:
      labels:
        name: metrics
    spec:
      containers:
        - name: grafana-agent
          image: grafana/agent:latest
          imagePullPolicy: IfNotPresent
          args:
            - -config.file=/etc/agent/agent.yaml
            - -config.expand-env
          command:
            - /bin/agent
          envFrom:
            - configMapRef:
                name: grafana-agent-env
            - secretRef:
                name: credentials
          env:
            - name: HOSTNAME
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
            - name: OBSERVE_CLUSTER
              valueFrom:
                configMapKeyRef:
                  name: cluster-info
                  key: id
          resources:
            limits:
              cpu: 200m
              memory: 2Gi
            requests:
              cpu: 200m
              memory: 2Gi
          ports:
            - containerPort: 12345
              name: http-metrics
          volumeMounts:
            - mountPath: /etc/agent
              name: grafana-agent
      serviceAccountName: metrics
      volumes:
        - name: grafana-agent
          configMap:
            name: grafana-agent
