---
resources:
  - clusterrole.yaml
  - clusterrolebinding.yaml
  - serviceaccount.yaml

commonLabels:
  observeinc.com/component: 'metrics'

configMapGenerator:
  - name: grafana-agent
    files:
      - agent.yaml
  - name: grafana-agent-env
    literals:
      - OBSERVE_COLLECTOR_HOST=collect.observeinc.com
      - OBSERVE_COLLECTOR_PORT=443
      - OBSERVE_COLLECTOR_SCHEME=https
      - OBSERVE_COLLECTOR_INSECURE=off
      - PROM_BATCH_SEND_DEADLINE=5s
      - PROM_CAPACITY=15000
      - PROM_LOG_LEVEL=info
      - PROM_MAX_BACKOFF=30s
      - PROM_MAX_SAMPLES_PER_SEND=5000
      - PROM_MAX_SHARDS=10
      - PROM_MAX_WAL_TIME=30m
      - PROM_MIN_BACKOFF=1s
      - PROM_MIN_WAL_TIME=15s
      - PROM_REMOTE_TIMEOUT=30s
      - PROM_REMOTE_FLUSH_DEADLINE=1m
      - PROM_SCRAPE_INTERVAL=60s
      - PROM_SCRAPE_TIMEOUT=10s
      - PROM_SCRAPE_BODY_SIZE_LIMIT=50MB
      - PROM_SCRAPE_CADVISOR_ACTION=keep
      - PROM_SCRAPE_CADVISOR_INTERVAL=
      # The following metrics are exported with 0 values in default cadvisor installs. See:
      # - https://github.com/kubernetes/kubernetes/issues/60279
      # - https://github.com/google/cadvisor/issues/1672
      - PROM_SCRAPE_CADVISOR_METRIC_DROP_REGEX=container_(network_tcp_usage_total|network_udp_usage_total|tasks_state|cpu_load_average_10s)
      - PROM_SCRAPE_CADVISOR_METRIC_KEEP_REGEX=container_(cpu_.*|spec_.*|memory_.*|network_.*|fs_.*|file_descriptors)|machine_(cpu_cores|memory_bytes)
      # The following regex matches the default Kubernetes board metrics:
      # - PROM_SCRAPE_CADVISOR_METRIC_KEEP_REGEX=container_(cpu_cfs_.*|spec_.*|cpu_cores|cpu_usage_seconds_total|memory_working_set_bytes|memory_usage_bytes|network_transmit_.*|network_receive_.*|fs_writes_total|fs_reads_total|file_descriptors)|machine_(cpu_cores|memory_bytes)
      - PROM_SCRAPE_KUBELET_ACTION=drop
      - PROM_SCRAPE_KUBELET_INTERVAL=
      - PROM_SCRAPE_KUBELET_METRIC_DROP_REGEX=
      - PROM_SCRAPE_KUBELET_METRIC_KEEP_REGEX=(.*)
      - PROM_SCRAPE_POD_ACTION=drop
      - PROM_SCRAPE_POD_INTERVAL=
      - PROM_SCRAPE_POD_NAMESPACE_DROP_REGEX=(.*istio.*|.*ingress.*|kube-system)
      - PROM_SCRAPE_POD_NAMESPACE_KEEP_REGEX=(.*)
      - PROM_SCRAPE_POD_PORT_KEEP_REGEX=.*metrics
      - PROM_SCRAPE_POD_METRIC_DROP_REGEX=.*bucket
      - PROM_SCRAPE_POD_METRIC_KEEP_REGEX=(.*)
      - PROM_SCRAPE_RESOURCE_ACTION=keep
      - PROM_SCRAPE_RESOURCE_INTERVAL=
      - PROM_SCRAPE_RESOURCE_METRIC_DROP_REGEX=
      - PROM_SCRAPE_RESOURCE_METRIC_KEEP_REGEX=(.*)
      - PROM_SCRAPE_SAMPLE_LIMIT=100000
      - PROM_WAL_TRUNCATE_FREQUENCY=30m
