---
name: Release and push
on:
  workflow_dispatch:
  schedule:
    - cron: '0 19 * * 2'

# to test new versions of kindest/node locally you need to do the following:
# 1. update go version to at least 1.17
# 2. go install sigs.k8s.io/kind@v0.16.0
# 3. update Makefile and add something like '--image kindest/node:v1.16.15' to 'cluster'
# 4. 'make cluster && make apply'
# 5. 'make delete-cluster' to remove it
jobs:
  integration-test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        kubectl_version:
          - v1.28.0    # leading edge  (EOL 2024-10-28)
          - v1.26.6    # trailing edge (EOL 2024-02-28)
          - v1.21.14   # laggard       (EOL 2022-06-22)
        node_version:
          - kindest/node:v1.28.0@sha256:9f3ff58f19dcf1a0611d11e8ac989fdb30a28f40f236f59f0bea31fb956ccf5c
          - kindest/node:v1.26.6@sha256:5e5d789e90c1512c8c480844e0985bc3b4da4ba66179cc5b540fe5b785ca97b5
          - kindest/node:v1.21.14@sha256:0ffd370ba816b2214f407877784ef596344047ce4505b6aa227c74317027b88b
        kustomize_dir:
          - stack/m
          - stack/xs
          - stack/xl
    steps:
      - uses: actions/checkout@master
      - name: Create k8s Kind Cluster
        uses: helm/kind-action@main
        with:
          kubectl_version: ${{ matrix.kubectl_version }}
          node_image: ${{ matrix.node_version }}
        env:
          KUBE_CONFIG: .kubeconfig
      - name: Test apply
        env:
          OBSERVE_CUSTOMER: ${{ secrets.OBSERVE_CUSTOMER }}
          OBSERVE_TOKEN: ${{ secrets.OBSERVE_TOKEN }}
          KUSTOMIZE_DIR: ${{ matrix.kustomize_dir }}
        run: make apply
      - name: Test delete
        env:
          KUSTOMIZE_DIR: ${{ matrix.kustomize_dir }}
        run: make delete
  bump:
    runs-on: ubuntu-latest
    needs: integration-test
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Conventional Changelog Action
        id: changelog
        uses: TriPSs/conventional-changelog-action@v3
        with:
          github-token: ${{ secrets.github_token }}
          skip-on-empty: 'true'
          skip-version-file: 'true'
      - name: Create Release
        uses: actions/create-release@v1
        if: ${{ steps.changelog.outputs.skipped == 'false' }}
        env:
          GITHUB_TOKEN: ${{ secrets.github_token }}
        with:
          tag_name: ${{ steps.changelog.outputs.tag }}
          release_name: ${{ steps.changelog.outputs.tag }}
          body: ${{ steps.changelog.outputs.clean_changelog }}
